{% extends "base.html.twig" %}
{% block title %}Error{% endblock %}
  {% block body %}
  
 
   <h1 style="color: red;">ATTENZIONE</h1>
   <div></div>
   <h2>Contatto già presente nel db</h2>
  <ul>
      <li><a href='http://rubrica:8888/contatti'><h2>Torna ai contatti</h2></a></li>
   </ul>
  
  
  {% endblock %}