{% extends "base.html.twig" %}
{% block title %}Sent{% endblock %}
  {% block body %}
  
 
   <h1>Congratulazioni il tuo  contatto è stato inserito</h1>
   <ul>
      <li><a href='http://rubrica:8888/contatti'><h2>Torna ai contatti</h2></a></li>
   </ul>
  
  
  {% endblock %}